id,access_to,read_access,write_access,control_access,agent_webid,agent_class
1,data,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
2,data,Yes,No,No,,http://xmlns.com/foaf/0.1/Agent
3,index,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
4,index,Yes,No,No,,http://xmlns.com/foaf/0.1/Agent
5,batch_building_1_321_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
6,batch_building_1_322_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
7,batch_building_1_334_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
8,batch_building_1_335_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
9,batch_building_1_482_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
10,batch_building_1_483_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
11,batch_building_1_715_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
12,batch_building_1_805_customer_constructioncompany123,Yes,Yes,Yes,${OD_CSS12_BASE_URL}/buildingowner123/profile/card#me,
13,batch_building_1_321_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
14,batch_building_1_322_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
15,batch_building_1_334_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
16,batch_building_1_335_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
17,batch_building_1_482_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
18,batch_building_1_483_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
19,batch_building_1_715_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
20,batch_building_1_805_customer_constructioncompany123,Yes,No,No,${OD_CSS12_BASE_URL}/constructioncompany123/profile/card#me,
