[
  {
    "podName": "building-owner2",
    "email": "bob@realestate.com",
    "password": "bob123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS3_BASE_URL}/building-owner2/profile/card#me",
    "register": true
  }
]
