[
  {
    "podName": "ragn-sells",
    "email": "mikael@ragn-sells.se",
    "password": "mikael123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS4_BASE_URL}/ragn-sells/profile/card#me",
    "register": true
  }
]
