included_source
${OD_CSS12_BASE_URL}/texon/ceon/index
${OD_CSS12_BASE_URL}/ragnsells/ceon/index
${OD_CSS12_BASE_URL}/supplier123/ceon/index
${OD_CSS12_BASE_URL}/lindner/ceon/index
${OD_CSS12_BASE_URL}/buildingowner123/ceon/index
${OD_CSS12_BASE_URL}/soundsystemmanufacturer/ceon/index
${OD_CSS12_BASE_URL}/circularise/ceon/index
${OD_CSS12_BASE_URL}/concular/ceon/index
${OD_CSS12_BASE_URL}/dismantler123/ceon/index
${OD_CSS12_BASE_URL}/recycler123/ceon/index
${OD_CSS12_BASE_URL}/constructioncompany123/ceon/index
${OD_CSS12_BASE_URL}/shoebrand123/ceon/index
${OD_CSS12_BASE_URL}/outsolemanufacturer123/ceon/index
${OD_CSS12_BASE_URL}/lacesmanufacturer123/ceon/index
https://raw.githubusercontent.com/LiUSemWeb/CEON/refs/heads/develop/ontology/demo/construction/0.2/construction.ttl
https://raw.githubusercontent.com/LiUSemWeb/CEON/refs/heads/develop/ontology/demo/textile/0.2/textile.ttl
https://raw.githubusercontent.com/LiUSemWeb/CEON/refs/heads/develop/ontology/demo/electronics/0.2/electronics.ttl
https://raw.githubusercontent.com/LiUSemWeb/CEON/refs/heads/develop/ontology/modules/actor/0.4/actor.ttl
https://raw.githubusercontent.com/LiUSemWeb/CEON/refs/heads/develop/ontology/modules/actorODP/0.3/actorODP.ttl
