[
  {
    "podName": "admin",
    "email": "admin@ocp.com",
    "password": "admin123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS0_BASE_URL}/admin/profile/card#me",
    "register": true
  }
]
