[
  {
    "podName": "test",
    "email": "test@ocp.com",
    "password": "test123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS_TEST_BASE_URL}/test/profile/card#me",
    "register": true
  }
]
