[
  {
    "podName": "lindner-group",
    "email": "info@lindner-group.com",
    "password": "lindner123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS1_BASE_URL}/lindner-group/profile/card#me",
    "register": true
  }
]
