[
  {
    "podName": "building-owner",
    "email": "info@building-owner.com",
    "password": "building123",
    "createWebId": true,
    "createPod": true,
    "webId": "${OD_CSS2_BASE_URL}/building-owner/profile/card#me",
    "register": true
  }
]
