USERS_ALICE_WEBID=${OD_CSS0_BASE_URL}/admin/profile/card#me
USERS_ALICE_IDP=${OD_CSS0_BASE_URL}/
USERS_ALICE_USERNAME=admin@ocp.com
USERS_ALICE_PASSWORD=admin123


USERS_BOB_WEBID=${OD_CSS2_BASE_URL}/building-owner/profile/card#me
USERS_BOB_IDP=${OD_CSS2_BASE_URL}/
USERS_BOB_USERNAME=info@building-owner.com
USERS_BOB_PASSWORD=building123

USER_REGISTRATION_ENDPOINT=${OD_CSS_TEST_BASE_URL}/idp/register/
ALLOW_SELF_SIGNED_CERTS=true
