USERS_ALICE_WEBID=${OD_CSS1_BASE_URL}/lindner-group/profile/card#me
USERS_ALICE_IDP=${OD_CSS1_BASE_URL}/
USERS_ALICE_USERNAME=info@lindner-group.com
USERS_ALICE_PASSWORD=lindner123

USERS_BOB_WEBID=${OD_CSS2_BASE_URL}/building-owner/profile/card#me
USERS_BOB_IDP=${OD_CSS2_BASE_URL}/
USERS_BOB_USERNAME=info@building-owner.com
USERS_BOB_PASSWORD=building123

USER_REGISTRATION_ENDPOINT=${OD_CSS_TEST_BASE_URL}/idp/register/
ALLOW_SELF_SIGNED_CERTS=true